<div class="container news-root row">
    <div *ngFor="let news of newsCollection; let i = index" class="col-md-6 col-sm-12" 
        (click)="showNewsDialog(news)">
        <div class="news-card row">
            <div class="col-md-4 col-sm-12 col-12" style="min-height: 50%; display:flex; justify-content: center;">
                <img class="news-image" src="{{ news.urlToImage || '//:0' }}" />
            </div>
            <div class="col-md-8 col-sm-12 col-12" style="max-height: 40%; text-align: center; margin-top: auto; margin-bottom: auto;">
                <div class="news-title ">{{ news.title }} </div>
            </div>
        </div>
    </div>
</div>