<div class="container news-root row">
    <div *ngFor="let news of newsCollection; let i = index" class="news-subroot col-md-6 col-sm-12" 
        (click)="showNewsDialog(news)">
        <div *ngIf="i%2 == 0" class="news-card row">
            <div class="col-4">
                <img class="news-image" src="{{ news.urlToImage || '//:0' }}" />
            </div>
            <div class="col-8">
                <div class="news-title ">{{ news.title }} </div>
            </div>
        </div>

        <div *ngIf="i%2 != 0" class="news-card row">
            <div class="col-4">
                <img class="news-image" src="{{ news.urlToImage || '//:0' }}" />
            </div>
            <div class="col-8">
                <div class="news-title ">{{ news.title }} </div>
            </div>
        </div>
    </div>
</div>