
.header-ticker {
    font-size: 2rem;
    font-weight: bold;
}

.header-name {
    color: #7a7f85;
    font-size: 1.5rem;
}

.text-end {
    text-align: end;
}

.text-start {
    text-align: start;
}

.row-layout {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1rem;
}

.second-row {
    margin: 1%;
    font-size: 1rem;
}

.stock-card {
    margin-bottom: 2%;
    cursor: pointer; 
}

.close-icon {
    position: absolute;
    top: 2%;
    right: 1%;
}

.footer {
    margin: 1%;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 2%;
    line-height: 1;
}