.modal-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.date-text {
    color: rgb(125, 132, 140);
    font-weight: bold;
    font-size: 0.7rem;
}

.info-text {
    color: rgb(145, 151, 157);
    font-size: 0.7rem;
}

.fb-icon {
    display: inline-block;
    background: #1123fc;
    color: white;
  }

.fa {
    padding: 2%;
    font-size: 45px;
    width: 10%;
    text-align: center;
    text-decoration: none;
    margin: 2%;
    display: inline-block;
  }

  .share {
      margin-left: 3%;
  }