.mat-tab-labels {
    justify-content: center;
}

#company-description {
    margin-top: 3%;
    text-align: center;
}

.buy {
    margin-bottom: 2%;
}

.stat-table {
   margin-left: 15%;
}

.header-ticker {
    margin-top: 3%;
    font-size: 2rem;

}

.header-name {
    margin-top: 3%;
    font-size: 1.3rem;
    color:#6d747b;
}

.header-price {
    font-size: 2rem;
}

.header-change {
    font-size: 1.3rem;

}

.star {
    vertical-align: text-top;
}

.header-right {
    margin-top: 3%;
    margin-right: 0%;
    text-align: right;
}




.close-icon {
    margin-right: 1%;
    margin-left: auto;
}