<div *ngIf="showSummary">
    <div>
        <h2>{{ summary.ticker}} </h2>
        <h3>{{ summary.name}} </h3>
        <p>{{ summary.exchangeCode }}</p>
        <table>
            <tr>
                <td>High Price: {{ price.high }}</td>
                <td>Mid Price: {{ price.mid }}</td>
            </tr>
            <tr>
                <td>Low Price: {{ price.low }}</td>
                <td>Ask Price: {{ price.askPrice }}</td>
            </tr>
            <tr>
                <td>Open Price: {{ price.open }}</td>
                <td>Ask Size: {{ price.askSize }}</td>
            </tr>
            <tr>
                <td>Prev. Close: {{ price.last }}</td>
                <td>Bid Price: {{ price.bidPrice }}</td>
            </tr>
            <tr>
                <td>Volume: {{ price.volume }}</td>
                <td>Bid Size: {{ price.bidSize }}</td>
            </tr>
        </table>
        <h5><b>Company's Description</b></h5>
        <p>Start Date: {{ summary.startDate }} </p>
        <p>company description: {{ summary.description }}</p>
    </div>
</div>