
h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 2%;
}

.text-end {
    text-align: end;
}

.text-start {
    text-align: start;
}

.first-row {
    margin: 2%;
    font-size: 40px;
}

.second-row {
    margin: 2%;
    font-size: 15px;
}

.stock-card {
    margin-bottom: 2%;
    cursor: pointer; 
}

.close-icon {
    position: absolute;
    top: 2%;
    right: 1%;
}
