.text-center {
    text-align: center;
}

.search-text {
    margin-top: 200px;
}

.fa {
    color: #6f4ffb !important;
}

.rounded-pill {
    border-radius: 16px;
}

/* .search-border {
    border-left: 2px solid #6f4ffb;
    border-top: 2px solid #6f4ffb;
    border-bottom: 2px solid #6f4ffb;
    border-right: 0px;
} */

.search-icon-border {
    border: 2px solid #6f4ffb;
    
}

.form-control, .form-control:focus{
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    border: rgba(255, 255, 255, 0);
 }

 .search-bar-pos-size
 {
    width: 25%;
    margin-left: auto;
    margin-right: auto
 }