<div class="modal-header">
    <h4 class="modal-title">{{ ticker }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Dismissed')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Current Price: {{ price }} </p>
    <form>
      <div class="form-group">
        <span>Quantity  </span><input ngbAutofocus type="number" min="0" step="1" class="form-control quantity-input" id="stockBuy" name="stockBuy" [(ngModel)] = "numShares">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <fieldset class="w-100">
    <p  class="float-left"> Total: {{ price * numShares }}</p>
    <button *ngIf="isBuy && numShares>=1" type="button" class="btn btn-success float-right" (click)="buyStock(ticker,name,numShares,price);activeModal.dismiss('Dismissed')">Buy</button>
    <button *ngIf="isBuy && numShares<1" type="button" class="btn btn-not-ready float-right" (click)="buyStock(ticker,name,numShares,price);activeModal.dismiss('Dismissed')">Buy</button>
    <button *ngIf="!isBuy && numShares >= 1 && numShares <= maxNumShares" type="button" class="btn btn-success float-right" (click)="sellStock(ticker,numShares);activeModal.dismiss('Dismissed')">Sell</button>
    <button *ngIf="(!isBuy && numShares<1) || (!isBuy && numShares> maxNumShares)" type="button" class="btn btn-not-ready float-right" (click)="buyStock(ticker,name,numShares,price);activeModal.dismiss('Dismissed')">Sell</button>
    </fieldset>
  </div>

  