.quantity-input {
    width: 50%;
    display: inline-block;
}

.cost {
    text-align: left;
    display: inline-block;

}

.buy-footer {
    text-align: left;
}

.btn-not-ready {
    background-color:#87c582;
    color: white;
}