<div class="search-component container">
    <h1 class = "header-ticker">STOCK SEARCH</h1>
    <form (ngSubmit)="onSubmit()" class= "col-sm 8 col-md-4 search-bar">

            <div class="rounded-pill search-icon-border">
                <div class="input-group">
                    <input type="text" matInput [matAutocomplete]="auto" [formControl]="myControl"
                        name = "title" [(ngModel)]="title" aria-describedby="button-addon1" class="form-control rounded-pill border-0">
                    <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i
                            class="fa fa-search fa-color"></i></button>
                </div>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option  *ngIf="showAutoLoading">
                            <mat-spinner></mat-spinner>
                    </mat-option>
                    <div *ngIf="!showAutoLoading">
                        <mat-option *ngFor="let option of objectPreOptions;" [value]="option.ticker">
                            <span class="bold-text">{{ option.ticker }}</span> | {{ option.name }}  
                            <!-- {{ option }} -->
                        </mat-option>
                    </div>
                </mat-autocomplete>
            </div>

    </form>

</div>