<div class="search-component">
    <h1>Search Stock</h1>
    <form (ngSubmit)="onSubmit()">
        <div class="rounded-pill search-icon-border">
            <div class="input-group">
                <input type="text" matInput [matAutocomplete]="auto"
                name="title" [(ngModel)]="title" aria-describedby="button-addon1" class="form-control rounded-pill border-0">
                <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i
                        class="fa fa-search"></i></button>
            </div>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <div *ngIf="showAutoLoading"><mat-spinner></mat-spinner></div>
                <mat-option *ngFor="let option of objectOptions" [value]="option">
                    {{ option.name }}
                </mat-option>
            </mat-autocomplete>
        </div>
    </form>
</div>