/* You can add global styles to this file, and also import other style files */
/* @import '@angular/material/prebuilt-themes/deeppurple-amber.css'; */

body {
    font-family: sans-serif;
}

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
.positive {
    color: green;
}

.negative {
    color: red;
}

.no-ticker {
    text-align: center;
    background-color: #f5d7d9;
    padding: 1%;
    color: gray;
    margin:2%;
}

.no-item {
    text-align: center;
    background-color: #fef3ca;
    padding: 1%;
    color: gray;
    margin:2%;
}

.market-open {
    text-align: center;
    background-color: #d7edda;
    color: #33634e;
    width: fit-content;
    margin-left: 50%;
}

.market-close {
    text-align: center;
    background-color: #f5d7d9;
    width: fit-content;
    margin-left: 50%;
}